body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background: gold;
}


header {
    background: green;
    padding: 15px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(5, 238, 226);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
}

article {
    background: greenyellow;
    border-radius: 12px;
    padding: 20px;
    width: 35%;
    min-width: 320px;
}

video {
    width: 200px;
}

.trial {
    width: 400px;
}

footer {
    background: #eeddff;
    padding: 10px;
    font-size: 14px;
}
h1{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
p{
    color: rgb(255, 155, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
img{
    width: 400px;
}
